<!doctype html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="http://openlayers.org/en/v3.0.0/css/ol.css" type="text/css"> -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/style/ol.css" type="text/css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/style/style.css" type="text/css">
    <script src="http://openlayers.org/en/v3.6.0/build/ol.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="{{ app.request.basepath }}/scripts/search.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/scripts/d3chart.js" type="text/javascript"></script>



    <title>Sea-Arch</title>
</head>
<body>
<nav class="navbar navbar-default hidden-sm hidden-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           <!-- <a class="navbar-brand" href="/">GeoSearch</a> -->
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li id="legende_knop" class="popupHoverElement"><div id="two" class="popupBox">Legende</div></li>
                <li id="insert-link"class="popupHoverElement"><div id="two" class="popupBox">Toevoegen</div></li>
                <li id="search-link" class="popupHoverElement"><div id="two" class="popupBox">Zoek</div></li>
                <li id="info-link"class="popupHoverElement"><div id="two" class="popupBox">Info</div></li>

                    <div id="Div3" style=" ">


                        <li id="button_close"></li>
                        <p><h3> Diepteprofiel</h3></p>
                        <svg id="depthsvg">    </svg> <!--hier komt de grafiek -->

                    </div>

                <li id="fullscreen-link" class="popupHoverElement"><div id="two" class="popupBox">Vergroten</div><a></a></li>
                <li id="depth-link" class="popupHoverElement"><div id="two" class="popupBox">Diepteprofiel</div><a></a></li>
                <li id="share-link" class="popupHoverElement"><div id="two" class="popupBox">Share</div><a></a></li>
                <li id="download-link" download="map.png" class="popupHoverElement"><div id="two" class="popupBox"><i class="icon-download"></i> Download</div><a></a></li>
                <li id="question-link" class="popupHoverElement"><div id="two" class="popupBox">Handleiding</div><a></a></li>

                <li id="draw-link" class="popupHoverElement"><div id="two" class="popupBox">Tekenen</div></li>

                <li id="measure-link" class="popupHoverElement"><div id="two" class="popupBox">Meten</div></li>
                <li id="polygon-link" class="popupHoverElement"><div id="two" class="popupBox">Polygon</div></li>
                <li id="depthpoint-link" class="popupHoverElement"><div id="two" class="popupBox">Dieptepunt</div></li>



            </ul>
        </div>
    </div>





</nav>
    <span class="layers">
        {% for group in groups %}
            <div class="layertitle">{{ group.name }}</div>
            {% for layer in group.layers %}
                <a data-layer-id="{{ layer.id }}"
                   class="toggle-layer layer{{ layer.visible?'_active':''}}" id="l{{ layer.id }}">{{ layer.legendName }}</a>
            {% endfor %}
        {% endfor %}

    </span>

    <span class="legende hidden-sm hidden-xs display-none" id="leg">
        <div class="legende_content">
            {% for group in groups %}
                {% for layer in group.layers %}
                    <div class="legende_item {{ layer.visible?'':'display-none' }}" id="legende_{{ layer.id }}">'
                        {{ layer.legendName }}
                        <br>
                        <img src="http://we12s007.ugent.be:8080/geoserver/search/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&STRICT=false&style={{ layer.style }}">
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </span>
    <span id="map" class="map"></span>

<div id="no-download" class="alert alert-error" style="display: none">
    This example requires a browser that supports the
    <a href="http://caniuse.com/#feat=download">link download</a> attribute.
</div>

    <span id="ol.control.Zoom" class="ol.control.Zoom"></span>
    <span id="ol.Zoom" class="ol.Zoom"></span>

    <div id="info">
        <span id='close-info'></span>
        <div id="info-contents">

        </div>

    </div>

    <div id="depthpoint_box">
        <div id="depth-contents">
        </div>
        <div id="info-depth">

        </div>
        </div>



<div id="logo" class="logo"></div>
<div id="logo2" class="logo2"><h4>Archeologisch erfgoed in de Noordzee</h4></div>



    <script type="text/javascript">
        initGeoSearch({{layers|json_encode|raw}});
    </script>
</body>
</html>
