<!doctype html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
    <script src="{{ app.request.basepath }}/scripts/search.js" type="text/javascript"></script>

    <!-- <link rel="stylesheet" href="http://openlayers.org/en/v3.0.0/css/ol.css" type="text/css"> -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/style/ol.css" type="text/css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/style/style.css" type="text/css">
    <script src="http://openlayers.org/en/v3.6.0/build/ol.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

    <script src="{{ app.request.basepath }}/scripts/d3chart.js" type="text/javascript"></script>
    <!-- <script src="{{ app.request.basepath }}/scripts/FeatureOverlay.js" type="text/javascript"></script> -->


    <title>Sea-Arch</title>
</head>
<body>
<div id="logos">
    <div id="logo" class="logo hidden-sm hidden-xs"></div>
    <div id="logo2" class="logo2 hidden-sm hidden-xs"><h4>Archeologisch erfgoed in de Noordzee</h4></div>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="/">GeoSearch</a> -->
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-left">
                <li id="legende_knop" class="popupHoverElement" title="Legende"><div class="two icon">Legende</div></li>
                <li id="insert-link" class="popupHoverElement" title="Toevoegen"><div class="two icon">Toevoegen</div></li>
                <li id="search-link" class="popupHoverElement" title="Zoeken"><div class="two icon">Zoek</div></li>
                <li id="info-link" class="popupHoverElement" title="Info"><div class="two icon">Info</div></li>
                <li id="output" class="popupHoverElement" title="Relaties"><div class="two icon">Relaties</div></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="fullscreen-link" class="popupHoverElement" title="Vergroten"><div class="two icon">Vergroten</div></li>
                <li id="depth-link" class="popupHoverElement" title="Diepteprofiel"><div class="two icon">Diepteprofiel</div></li>
                <li id="share-link" class="popupHoverElement" title="Delen">
                    <a id="fblink" target="_blank">
                        <div class="three icon">Share</div>
                    </a>
                </li>
                <li id="download-link" class="popupHoverElement" title="Downloaden">
                    <a download="map.png"><div class="three icon">
                            <i class="icon-download"></i> Download</div>
                    </a>
                </li>
                <li id="question-link" class="popupHoverElement" title="Handleiding"><div class="two icon">Handleiding</div></li>
                <li id="draw-link" class="popupHoverElement" title="Tekenen"><div class="two icon">Tekenen</div></li>
                <li id="measure-link" class="popupHoverElement" title="Meten"><div class="two icon">Meten</div></li>
                <li id="polygon-link" class="popupHoverElement" title="Polygon"><div class="two icon">Polygon</div></li>
                <li id="depthpoint-link" class="popupHoverElement" title="Dieptepunt"><div class="two icon">Dieptepunt</div></li>
            </ul>
        </div>
    </div>
</nav>
<div id="depth-profile" style=" ">
    <li id="button_close"></li>
    <h3 class="hidden-xs"> Diepteprofiel</h3>

    <p class="hidden-sm hidden-xs">TAW [m]</p>
    <i class="glyphicon glyphicon-refresh spinner btn-lg"></i>
    <svg id="depthsvg">    </svg> <!--hier komt de grafiek -->
</div>

<div id="no-download" class="alert alert-error" style="display: none">
    This example requires a browser that supports the
    <a href="http://caniuse.com/#feat=download">link download</a> attribute.
</div>
<div id="map-container">
    <div id="info">
        <span id='close-info'></span>
        <div id="info-contents">

        </div>

    </div>
    <span class="layers">
        {% for group in groups %}
            <div class="layertitle">{{ group.name }}</div>
            {% for category in group.categories %}
                {% if category.visible %}
                    <div class="category">
                        <div data-category="{{ category.name }}" class="categorytitle">{{ category.name }}</div>
                {% endif %}
                    {% for layer in category.layers %}
                        <a data-layer-id="{{ layer.id }}" data-layer-info="{{ layer.info }}" data-reference="{{ layer.reference }}" data-category="{{ category.name }}"
                           class="toggle-layer layer {{ layer.visible?'layer_active':''}}" id="l{{ layer.id }}">{{ layer.legendName }}</a>
                    {%  endfor %}
                {% if category.visible %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </span>

    <div class="legende hidden-sm hidden-xs display-none noselect" id="leg">
        <div class="legende_content">
            {% for group in groups %}
                {% for category in group.categories %}
                    {% for layer in category.layers %}
                        <div class="legende_item {{ layer.visible?'':'display-none' }}" id="legende_{{ layer.id }}">
                            {{ layer.legendName }}
                            <br>
                            <img src="//crest.ugent.be/geoserver/search/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&STRICT=false&style={{ layer.style }}">
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="timeline-legende">
        <ol>
            <li class="nieuwste-tijd">Nieuwste Tijd</li>
            <li class="nieuwe-tijd">Nieuwe Tijd</li>
            <li class="middeleeuwen">Middeleeuwen</li>
            <li class="romeinse-tijd">Romeinse Tijd</li>
            <li class="ijzertijd">Ijzertijd</li>
            <li class="bronstijd">Bronstijd</li>
            <li class="einde-neolithicum">Einde Neolithicum</li>
            <li class="begin-neolithicum">Begin Neolithicum</li>
            <li class="paleolithicum">Paleolithicum</li>
        </ol>
    </div>
    <span id="map" class="map"></span>

    <span id="ol.control.Zoom" class="ol.control.Zoom"></span>
    <span id="ol.Zoom" class="ol.Zoom"></span>

    <div id="depthpoint_box">
        <div id="depth-contents">
        </div>
        <div id="info-depth">

        </div>
    </div>
    <div id="reference-container" class="layer-panel hidden-xs hidden-sm">
        <div id="reference-content">
        </div>
    </div>
    <div id="layer-info-container" class="layer-panel hidden-xs hidden-sm">
        <div id="layer-info-content"></div>
    </div>
    <svg id="timeline" class="hidden-sm hidden-xs noselect"></svg>
</div>
<script type="text/javascript">
    initGeoSearch({{layers|json_encode|raw}});
</script>
</body>
</html>
