<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://openlayers.org/en/v3.0.0/css/ol.css" type="text/css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/style/style.css" type="text/css">
    <script src="http://openlayers.org/en/v3.0.0/build/ol.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/scripts/search.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
    <title>Search Demo 2</title>
</head>
<body>
<div id="map" class="map"></div>

<div id="info">

</div>

<div class="layers">
    {% for group in groups %}
        <div class="layertitle">{{ group.name }}</div>
        {% for layer in group.layers %}
            <a data-layer-id="{{ layer.id }}"
               class="toggle-layer layer{{ layer.visible?'_active':''}}" id="l{{ layer.id }}">{{ layer.legendName }}</a>
        {% endfor %}
    {% endfor %}

</div>


<div class="legende_knop">
    Legende
</div>

<div class="legende" id="leg">
    <div class="legende_content">
        {% for group in groups %}
            {% for layer in group.layers %}
               <div class="legende_item {{ layer.visible?'':'display-none' }}" id="legende_{{ layer.id }}">'
                   {{ layer.legendName }}
                   <br>
                   <img src="http://we12s007.ugent.be:8080/geoserver/search/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&STRICT=false&style={{ layer.style }}">
               </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>


<script type="text/javascript">
    initGeoSearch({{layers|json_encode|raw}});
</script>
</body>
</html>
