{% for  key,elements in layers %}
    {% if elements|length > 0 %}
        <div class='infotitle'>{{ key }}</div>
        {% for element in elements %}
            <div class='infoobject'>
                <div class='infoname'>{{ element.name }}</div>
                {% for relation in element.relations %}
                    <div class='infopar'><b>{{ relation.property.name }}</b>
                        {{ render(relation.value,{plain: true}) }}
                    </div>
                {% endfor %}
                <div class='infopar'><b>Samenvatting:</b> {{ element.description }}</div>
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}
